@import "var";

$success: #55a532;
$error: #f44;

html,
body,
#app,
.ui-page {
    height: 100%;
}
// TODO
.exam-box {
    padding: 16px;
    margin-bottom: 24px;
    box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
    .index {
        //font-size: 30px;
        margin-bottom: 16px;
    }
    .type {
        margin-bottom: 16px;
    }
    .title {
        font-size: 30px;
        margin-bottom: 16px;
    }
    .input {
        margin-bottom: 16px;
    }
    .fill-input {
        margin-right: 8px;
        .mu-text-field-input {
            padding-left: 8px;
            text-align: center;
        }
    }
    .options {
        .item {
            padding: 16px;
            //border: 1px solid #eee;
            //margin-bottom: 16px;
            margin-bottom: 4px;
            cursor: pointer;
            border: 1px solid #f1f1f1;
            &:hover {
                background-color: #f1f1f1;
            }
            &.selected {
                border: 1px solid $success;
            }
        }
    }
    .op {
        .btn {
            margin-right: 8px;
        }
    }
}
.simple-answer-card {
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
    .card-title {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .answer-list {
        @include clearfix;
        .item {
            float: left;
            margin-right: 16px;
            margin-bottom: 16px;
        }
        .undo {
            //background-color: #f00;
        }
        .finish {
            color: #fff;
            background-color: $success;
        }
        .current {
            border: 1px solid #000;
        }
    }
    .round-btn {
        width: 48px;
        height: 48px;
        min-width: inherit;
        border-radius: 50%;
    }
}
.answer-card {
    padding: 16px;
    box-shadow: 0 1px 6px rgba(0,0,0,.117647), 0 1px 4px rgba(0,0,0,.117647);
    .card-title {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .answer-list {
        @include clearfix;
        .item {
            margin-bottom: 16px;
            //border: 1px solid #eee;
            border: 1px solid $error;
            &.success {
                border: 1px solid $success;
            }
            &.error {

            }
        }
    }
}
.meta-list {
    margin-bottom: 16px;
    color: #999;
    @include clearfix;
    .item {
        float: left;
        margin-right: 16px;
    }
}
.box-title {
    margin: 16px 0;
    font-size: 24px;
}